<section class="mt-3">
  <app-nav-login></app-nav-login>

  <div class="login-container2">
    <div class="pictures">
      <div class="left-pic">
        <img alt="" id="movies-image" src="../../assets/images/movies.png">
      </div>
      <div class="right-pic" fxLayoutAlign="center center">

        <div class="login-container">
          <h1>Register</h1>
          <form>
            <input id="username" name="username" placeholder="Username" type="text"><br>
            <input id="Email" name="email" placeholder="Email" type="text"><br>
            <input id="Password" name="password" placeholder="Password" type="password"><br>
            <input id="password" name="r_password" placeholder="Repeat password" type="password"><br>

          </form>

          <br>
          <div style="display: flex; flex-direction: row; justify-content: center;">
            <p style="margin-right: 5px; margin-left: -30px; font-size: 17px;">Or login using:</p>
            <a href="https://www.facebook.com/"><img alt="FB" class="login-icon"
                                                     src="../assets/images/fb.png"></a>
            <a href="https://www.twitter.com/"><img alt="TW" class="login-icon"
                                                    src="../assets/images/tw.png"></a>
            <a href="https://www.google.com/"><img alt="GL" class="login-icon"
                                                   src="../assets/images/gl.png"></a>
          </div>
          <br>
          <button routerLink="#" type="submit">Create account</button>
        </div>
      </div>
    </div>
  </div>
</section>
