<section class="section is-flex is-justify-content-center">
  <div class="main-container">

    <div class="card">
      <div class="card-header is-justify-content-center mb-4">
        <h2 class="has-text-weight-semibold is-size-5 p-3 pl-4 pr-4">
          Liked movies
        </h2>
      </div>
      <div class="card-content pt-0 pb-5">
        <div class="panel p-3 is-flex is-flex-direction-row is-justify-content-space-between">
          <h2 class="has-text-weight-semibold is-pulled-left pl-5 pt-2">Filmu 1</h2>
          <div class="is-pulled-right pr-5">
            <button class="button-custom">
              <span>Remove</span>
            </button>
          </div>
        </div>
      </div>

      <div class="card-content pt-0 pb-5">
        <div class="panel p-3 is-flex is-flex-direction-row is-justify-content-space-between">
          <h2 class="has-text-weight-semibold is-pulled-left pl-5 pt-2">Filmu 1</h2>
          <div class="is-pulled-right pr-5">
            <button class="button-custom">
              <span>Remove</span>
            </button>
          </div>
        </div>
      </div>

      <div class="card-content pt-0 pb-5">
        <div class="panel p-3 is-flex is-flex-direction-row is-justify-content-space-between">
          <h2 class="has-text-weight-semibold is-pulled-left pl-5 pt-2">Filmu 1</h2>
          <div class="is-pulled-right pr-5">
            <button class="button-custom">
              <span>Remove</span>
            </button>
          </div>
        </div>
      </div>

      <div class="card-content pt-0 pb-5">
        <div class="panel p-3 is-flex is-flex-direction-row is-justify-content-space-between">
          <h2 class="has-text-weight-semibold is-pulled-left pl-5 pt-2">Filmu 1</h2>
          <div class="is-pulled-right pr-5">
            <button class="button-custom">
              <span>Remove</span>
            </button>
          </div>
        </div>
      </div>

      <div class="card-content pt-0 pb-5">
        <div class="panel p-3 is-flex is-flex-direction-row is-justify-content-space-between">
          <h2 class="has-text-weight-semibold is-pulled-left pl-5 pt-2">Filmu 1</h2>
          <div class="is-pulled-right pr-5">
            <button class="button-custom">
              <span>Remove</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header is-justify-content-center">
        <h2 class="has-text-weight-semibold is-size-5 p-3 pl-4 pr-4">
          Disliked movies
        </h2>
      </div>
      <div class="card-content">
        <div class="panel p-3 is-flex is-flex-direction-row is-justify-content-space-between">
          <h2 class="has-text-weight-semibold is-pulled-left pl-5 pt-2">Filmu 1</h2>
          <div class="is-pulled-right pr-5">
            <button class="button-custom">
              <span>Remove</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="card box3">
      <div class="card-header is-justify-content-center">
        <h2 class="has-text-weight-semibold is-size-5 p-3 pl-4 pr-4">
          Last watched
        </h2>
      </div>

      <div class="is-flex is-flex-direction-row">
        <div *ngFor="let movie of movieList">
          <div class="card has-rounded-corners">
            <div class="card-image add-shadow is-relative has-rounded-corners">
              <figure class="image">
                <div class="is-overlay">
                  <div class="movie-gradient is-unselectable"></div>
                  <div
                    class="is-bold is-on-bottom p-3 is-size-3 has-text-weight-bold has-text-white">{{movie.name}}</div>
                </div>
                <img class="is-unselectable" src="{{movie.movieImage}}" alt="{{movie.name}}">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
