<section class="mt-3 section ceva is-flex is-flex-direction-row is-justify-content-space-between ml-6 mr-6">
  <div class="is-large">
    <h1 class="is-size-3 has-text-weight-bold has-text-grey-darker">
      Your movie recommandations
    </h1>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" placeholder="Type here to search..." type="text">
    </p>
  </div>
</section>

<section class="section pt-0">
  <div class="movie-container">
    <div *ngFor="let movie of movieList">
      <div class="card has-rounded-corners">
        <div class="card-image add-shadow is-relative has-rounded-corners">
          <figure class="image">
            <div class="is-overlay">
              <div (click)="this.openModal(movie)"
                   class="is-clickable movie-gradient is-unselectable crop img-btn"></div>
              <div
                class="movie-percentage has-text-centered has-text-weight-bold is-unselectable">{{movie.imdb_rating * 10}}
                <p class="percent-symbol">%</p>
              </div>
              <div class="is-bold is-on-bottom p-3 is-size-3 has-text-weight-bold has-text-white">{{movie.name}}</div>
            </div>
            <img alt="{{movie.name}}" class="is-unselectable crop" src="{{movie.image_url}}">
          </figure>
        </div>
        <div class="card-content">
          <div class="content height-adjusted">
            <div class="is-pulled-left is-align-self-flex-start">
              <a (click)="this.added(movie)" class="has-text-weight-semibold is-size-5 is-unselectable">
                <!--                {{movie.movieAdded ? 'Movie added to watchlist' : 'Add movie to watchlist'}}-->
                <p>Add movie to watchlist</p>
              </a>
            </div>
            <div
              class="is-pulled-right is-flex is-flex-direction-row is-justify-content-flex-end is-align-self-flex-end">
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <img class="icon is-medium" src="assets/icons/heart.svg">
                </div>
                <div class="dropdown-menu" id="dropdown-menu-like" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <p><strong>Like</strong> this movie</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                  <img class="icon is-medium" src="assets/icons/dislike.svg">
                </div>
                <div class="dropdown-menu" id="dropdown-menu-dislike" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <p><strong>Dislike</strong> this movie</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="movieModalOn === true">
    <div *ngFor="let movie of movieInModals">
      <div class="modal is-active">
        <div class="modal-background"></div>

        <div class="modal-content p-0 m-0 b-0">
          <div class="box p-0 m-0 b-0">
            <div class="card-image add-shadow is-relative has-rounded-corners">
              <figure class="image">
                <div class="is-overlay">
                  <div class="movie-gradient is-unselectable modal-crop"></div>
                  <div
                    class="is-bold is-on-bottom p-3 is-size-1 has-text-weight-bold has-text-white">{{movie.name}}</div>
                </div>
                <img alt="{{movie.name}}" class="is-unselectable modal-crop" src="{{movie.image_url}}">
              </figure>

              <div class="card">
                <div class="card-content">
                  <p class="has-text-weight-bold is-size-4">
                    Overview
                  </p>
                  <div class="dropdown-divider is-bold"></div>
                  <p class="is-size-6">
                    {{movie.overview}}
                  </p>
                  <div class="dropdown-divider is-bold"></div>

                  <p class="is-size-6">
                    <b>Released: </b> {{movie.release_date}}
                  </p>

                  <p class="is-size-6">
                    <b>Run time: </b> {{movie.run_time}} minutes
                  </p>

                  <p class="is-size-6">
                    <b>IMDb Rating: </b> {{movie.imdb_rating}}/10
                  </p>

                  <p class="is-size-6">
                    <b>Production company: </b> <i>{{this.getProductionCompanies(movie)}}</i>
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>

        <button (click)="this.closeModal()" aria-label="close" class="modal-close is-large"></button>
      </div>
    </div>
  </div>
</section>
