@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$drop-shadow-color: rgba(218, 218, 218, 0.37);

.image {
  height: 75%;
  width: 100%;
}

.is-flex {
  gap: 20px;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 1.5em;
}

.movie-percentage {
  padding-left: 12px;
  background: white;
  font-size: large;
  color: green;
  width: 15%;
  height: 20%;
  border-radius: 0 0 100px 0;
  display: flex;
  align-items: center;
  box-shadow: 0 5px 8px 1px rgba(211, 211, 211, 0.3);
}

.add-shadow {
  box-shadow: 0 5px 8px 1px $drop-shadow-color;
}

.is-movie-title {
  position: absolute;
  bottom: 0;
}

.has-rounded-corners {
  border-radius: 25px;
}

.is-on-bottom {
  position: absolute;
  bottom: 0;
}

img {
  border-radius: 20px;
}

.hi-user {
  color: darkorange;
}

.movie-gradient {
  width: 100%;
  height: 75%;
  margin-top: 14.1%;
  position: absolute;
  opacity: 0.2;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6503735283175771) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 20px;
}

a.navbar-item:hover {
  color: darkorange;
  background-color: white;
  transition: all 300ms;
}

a.navbar-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: darkorange;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

a.navbar-item::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

a.navbar-item:hover::after,
a.navbar-item:focus::after {
  transform: scale(1);
}

.navbar-menu {
  height: 60px;
}

a:hover {
  color: darkorange;
}

a {
  color: black;
  text-decoration: none;
  transition: all 200ms;
}

.button-custom {
  background: darkorange;
}

.button-custom:hover {
  background: black;
  color: white;
}

.has-header-thickness {
  text-decoration-thickness: 0.0925em !important;
  opacity: 90%;
}

.input {
  font-size: large;
  font-weight: 600;
  height: 70px;
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.10);
}

.input:focus {
  transform: scale(1.01);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.15);
  transition: all 200ms;
}

.input:hover {
  transform: scale(1.01);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.15);
  transition: all 200ms;
}

.input[placeholder] {
  font-size: large;
  font-weight: 600;
}

input {
  outline: none;
  padding: 30px;
}

.field {
  width: 40%;
}

.section {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}
