<section class="section is-flex is-flex-direction-row is-justify-content-space-between ml-6 mr-6">
  <div class="is-large">
    <h1 class="is-size-3 has-text-weight-bold has-text-grey-darker">
      Your movie recommandations
    </h1>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="text" placeholder="Type here to search...">
    </p>
  </div>
</section>

<section class="section pt-0">
  <div class="movie-container ml-6 mr-6">
    <div *ngFor="let movie of movieList">
      <div class="card has-rounded-corners">
        <div class="card-image add-shadow is-relative has-rounded-corners">
          <figure class="image">
            <div class="is-overlay">
              <div class="movie-gradient is-unselectable"></div>
              <div class="movie-percentage has-text-centered has-text-weight-bold is-unselectable">{{movie.recommendationPercent}}%</div>
              <div class="is-bold is-on-bottom p-3 is-size-3 has-text-weight-bold has-text-white">{{movie.name}}</div>
            </div>
            <img class="is-unselectable" src="{{movie.movieImage}}" alt="{{movie.name}}">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <a class="has-text-weight-semibold is-size-5 is-unselectable" (click)="movie.added()" >
              {{movie.movieAdded ? 'Movie added to watchlist' : 'Add movie to watchlist'}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

