<div id="main-content"><app-container-profile></app-container-profile></div>
<div class="profile_info">
    <form class="card-form">
      <div class="input">
          <label class="input-label">Old password:</label>
          <input type="password" class="input-field" placeholder="Old Password" required/>
          
      </div>
       <div class="input">
          <label class="input-label">New password:</label>
          <input type="password" class="input-field" placeholder="New Password" required/>
          
      </div>

      
   
  <div class="input" style="display: flex;">
     <label class="input-label">Maturity Settings</label>
     <input type="checkbox" id="checkbox1"  name ="checkbox" value="" required/>
     
 </div>

      <div class="action">
          <span><button class="save-button">Save</button></span>
      </div>

  </form>

  <div class="profile_photo">
      <img class="photo" src="../assets/images/security.png" alt="Movies">
      <div class="action">
          <span><button class="delete-button">Delete Account</button></span>
      </div>
  </div>

</div>
