<section>
  <div class="tabs is-toggle is-fullwidth">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
          <span>Add movie</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
          <span>Remove movie</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
          <span>Whitelist user</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Remove user</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="card mt-5">
  <div class="container p-3">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Movie name</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input class="input" type="text" placeholder="">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Genre</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <div class="select">
              <select>
                <option>Action</option>
                <option>Adventure</option>
                <option>Animation</option>
                <option>Biography</option>
                <option>Comedy</option>
                <option>Crime</option>
                <option>Drama</option>
                <option>Family</option>
                <option>Fantasy</option>
                <option>Film</option>
                <option>History</option>
                <option>Horror</option>
                <option>Music</option>
                <option>Musical</option>
                <option>Mystery</option>
                <option>Noir</option>
                <option>Romance</option>
                <option>Sci- Fi</option>
                <option>Sport</option>
                <option>Thriller</option>
                <option>War</option>
                <option>Western</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Already a member?</label>
      </div>
      <div class="field-body">
        <div class="field is-narrow">
          <div class="control">
            <label class="radio">
              <input type="radio" name="member">
              Yes
            </label>
            <label class="radio">
              <input type="radio" name="member">
              No
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Subject</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input is-danger" type="text" placeholder="e.g. Partnership opportunity">
          </div>
          <p class="help is-danger">
            This field is required
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Question</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-flex is-flex-direction-row">
            <button class="button is-primary mr-4">
              Send message
            </button>
            <button class="button is-family-secondary">
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
