.nav-container {
    margin: 0 auto;
    margin-top: -60px;
    display: grid;
    grid-template-columns: 100% auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 5px 8px 2px rgba(218, 218, 218, 0.57);
}

.nav-container a {
    background-color: transparent;
    color: #707070;
    font-size: 20px;
    transition: color .2s ease-in-out, box-shadow .2s ease-in-out, background-color .2s ease-in-out, border-radius .2s ease-in-out;
    font-weight: bold;
    padding-top: 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    padding: 7px 10px 10px 5px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

header nav ul li a:hover {
    background-color : darkorange;
    color: white;
    box-shadow: 0 5px 8px 1px rgba(218, 218, 218, 0.37);
    border-radius: 2px;
}
