<section class="mt-3">
  <div id="main-content">
    <app-container-profile></app-container-profile>
  </div>
  <div class="profile_info">
    <form class="card-form">
      <div class="input">
        <label class="input-label">Username:</label>
        <input type="text" class="input-field" placeholder="Your username" required/>

      </div>
      <div class="input">
        <label class="input-label">Email:</label>
        <input type="text" class="input-field" placeholder="Your email" required/>

      </div>

      <div class="action">
        <span><button class="save-button">Save</button></span>
      </div>
    </form>

    <div class="profile_photo">
      <img class="photo" src="../../../assets/images/img_profil1.png" alt="Movies">
      <div class="action">
        <span><button class="delete-button">Remove Picture</button></span>
      </div>
    </div>
  </div>
</section>
