<section class="ml-5 mr-5 mb-6 mt-2">
  <div class="tabs is-toggle is-fullwidth has-text-weight-semibold is-size-5">
    <ul>
      <li>
        <a routerLink="/dashboard">
          <span>Add movie</span>
        </a>
      </li>
      <li class="is-active">
        <a routerLink="/remove-movie">
          <span>Remove movie</span>
        </a>
      </li>
      <li>
        <a routerLink="/white-user">
          <span>Whitelist user</span>
        </a>
      </li>
      <li>
        <a routerLink="/remove-user">
          <span>Remove user</span>
        </a>
      </li>
    </ul>
  </div>
</section>

<form #movieForm (submit)="deleteMovie($event, movieForm)" class="card mt-5">
  <div class="container p-6">

    <div class="field pb-3">
      <h2 class="is-size-4 has-text-weight-bold is-underlined">Enter name of movie to remove: </h2>
    </div>

    <div class="field is-horizontal pb-4">
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded">
            <input name="name" class="input" type="text" placeholder="Movie name">
          </p>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <div class="control is-flex is-flex-direction-row">
            <button type="submit" class="button is-primary mr-4">
              Remove movie
            </button>
            <button class="button is-family-secondary">
              Reset fields
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
