<app-nav-login></app-nav-login>

<div class="login-container2">
    <div class="pictures">
        <div class="left-pic">
            <img id="movies-image" src="../../assets/images/movies.png" alt="">
        </div>
        <div class="right-pic" fxLayoutAlign="center center">

            <div class="login-container">
                <h1>Register</h1>
                <form>
                    <input type="text" id="username" name="username" placeholder="Username"><br>
                    <input type="text" id="Email" name="email" placeholder="Email"><br>
                    <input type="password" id="Password" name="password" placeholder="Password"><br>
                    <input type="password" id="password" name="r_password" placeholder="Repeat password"><br>

                </form>

                <br>
                <div class="login-option">
                    <p>Or login using:</p>
                    <a href="https://www.facebook.com/"><img class="login-icon" src="../assets/images/fb.png"
                            alt="FB"></a>
                    <a href="https://www.twitter.com/"><img class="login-icon" src="../assets/images/tw.png"
                            alt="TW"></a>
                    <a href="https://www.google.com/"><img class="login-icon" src="../assets/images/gl.png"
                            alt="GL"></a>
                </div> 
                <br>
                <button type="submit" routerLink="#">Create account</button>
            </div>
        </div>
    </div>



</div>