<section class="mt-3">
  <app-nav-login></app-nav-login>

  <div class="container">
    <div>
      <br>
      <p>On out platform, we want to entertain the world. Whatever your taste, and no matter where you live, we give you
        access to best-in-class TV series, documentaries, feature films and mobile games. Our members control what they
        want to watch, when they want it. </p>
      <p>
        We’re streaming in more than n languages and nxm countries, because great stories can come from anywhere and be
        loved
        everywhere. We are the world’s biggest fans of entertainment, and we’re always looking to help you find your
        next favorite story.</p><br>

      <!-- <img id="pozaPunct" src="../../assets/images/dottedLine.png" alt="dottedLine"> -->
      <!-- <p>While you can download the Movilian dataset here, you can use either Python or R to implement this project.<br>

    Data science tools such as R studio and TensorFlow are great tools that can be used for implementing this recommendation system effortlessly. The time required for this project depends on the level of familiarity with the machine learning methods you have chosen to develop this system.</p><br> -->
    </div>
    <div>
      <img id="pozaaboutUs" src="../../assets/images/movie_aboutus.png" alt="poza about us">

    </div>
  </div>
  <img id="pozaPunct" src="../../assets/images/dottedLine.png" alt="">
</section>
