<app-nav-login></app-nav-login>

<div class="container">
    <div>
        <br>
         <p>On out platform, we want to entertain the world. Whatever your taste, and no matter where you live,    we give you access to best-in-class TV series, documentaries, feature films and mobile games. Our members control what they want to watch, when they want it. </p>
         <p>
         We’re streaming in more than n languages and nxm countries, because great stories can come from anywhere and be loved
          everywhere. We are the world’s biggest fans of entertainment, and we’re always looking to help you find your next favorite story.</p><br>
        
   </div>
    <div>
        <img id="pozaaboutUs" src="../../assets/images/movie_aboutus.png" alt="poza about us">
       
    </div>
</div> 
   <img id="pozaPunct" src="../../assets/images/dottedLine.png" alt="">

