<app-nav-login></app-nav-login>
<div class="login-container2">
    <div class="pictures">
        <div class="left-pic">
            <img id="movies-image" src="../../assets/images/movies.png" alt="asd">
        </div>
        <div class="right-pic">
            <div class="login-container">
                <h1>Login</h1>
                <br>
                <form (ngSubmit)="onSubmit()" autocomplete="off">
                    <input type="text"  name="username" [(ngModel)]="username" placeholder="Username"/><br>
                    <br>
                    <input type="password" name="password" [(ngModel)]="password" id="Password"  placeholder="Password"/><br>


                <br>
                
                <br>
                <div *ngIf="this._auth.errorMessage" class="warning">
                    <p>Username or password incorect!</p>
                  </div>
                <br>
                <button type="submit">Login</button>


            </form>
              
                <br>
                <a routerLink="/login-page/register" >Create a new account!</a>

            </div>

        </div>
    </div>

</div>