<div class="movie-container">
  <div *ngFor="let movie of upcomingMovieList">
    <div class="card has-rounded-corners">
      <div class="card-image add-shadow is-relative has-rounded-corners">
        <figure class="image">
          <div class="movie-gradient is-unselectable"></div>
          <img class="image is-unselectable" src="{{movie.movieImage}}" alt="{{movie.name}}">
        </figure>
      </div>
      <div class="card-content">
        <div class="content is-flex is-justify-content-space-between">
          <div class="is-bold is-italic p-0 is-size-5 has-text-weight-bold">{{movie.name}}</div>
          <button class="button-custom has-text-weight-semibold is-size-6 is-unselectable" (click)="movie.readMore()" >
            <span>{{movie.movieReadMore ? 'Read more' : 'Read more'}}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
